In [12]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

SN = pd.read_csv('data/LSQ12gdj_photometry.csv')
SN

,event,time,magnitude,e_magnitude,upperlimit,band,instrument,telescope,source
0,LSQ12gdj,56237.50000,18.300,NaN,F,NaN,NaN,NaN,"2012ATel.4566....1C,Latest Supernovae"
1,LSQ12gdj,56242.05339,17.487,0.012,F,i,QUEST,ESO Schmidt,2015ApJS..219...13W
2,LSQ12gdj,56242.05846,17.184,0.008,F,r,QUEST,ESO Schmidt,2015ApJS..219...13W
3,LSQ12gdj,56242.06586,17.037,0.008,F,V,QUEST,ESO Schmidt,2015ApJS..219...13W
4,LSQ12gdj,56242.07164,17.006,0.009,F,B,QUEST,ESO Schmidt,2015ApJS..219...13W
...,...,...,...,...,...,...,...,...,...
599,LSQ12gdj,56679.76200,19.351,NaN,T,U,UVOT,Swift,2014Ap&SS.354...89B
600,LSQ12gdj,56679.76270,19.717,NaN,T,B,UVOT,Swift,2014Ap&SS.354...89B
601,LSQ12gdj,56679.76460,20.389,NaN,T,UVW2,UVOT,Swift,2014Ap&SS.354...89B
602,LSQ12gdj,56679.76620,18.782,NaN,T,V,UVOT,Swift,2014Ap&SS.354...89B
603,LSQ12gdj,56679.76920,20.516,NaN,T,UVM2,UVOT,Swift,2014Ap&SS.354...89B

In [6]:
time = SN['time']
mag = SN['magnitude']
error = SN['e_magnitude']
band = SN['band']

In [9]:
band

0       NaN
1         i
2         r
3         V
4         B
       ...
599       U
600       B
601    UVW2
602       V
603    UVM2
Name: band, Length: 604, dtype: object